@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        font-weight: bold;
        font-size: 30px;
        margin: 20px 0 0 200px
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

        .button:hover {
            background-color: #555;
        }

    .gioithieu {
        margin: 0 200px 10px 200px;
    }

    .thanhvien {
        margin: 0 200px 10px 200px;
    }

        .thanhvien h3 {
            font-weight: bold;
            font-size: 17px;
        }
</style>

<div class="about-section">
    <h1 style="font-size: 31px">Giới thiệu</h1>
    <hr />
    <br>
</div>

<div class="gioithieu">
     <h2 style="font-size: 30px">

          Chào mừng bạn đến với Shop Giày Tôn Sách - nơi đắm chìm trong thế giới của những đôi giày không giới hạn chiều dài! Chúng tôi tự hào là địa chỉ độc đáo và độ chuyên nghiệp, mang đến cho bạn trải nghiệm mua sắm độc đáo và thú vị.
          <br />
          👟 Về Chúng Tôi:
          không chỉ là một cửa hàng giày thông thường, mà là một cộng đồng yêu thích sự độc đáo và sáng tạo. Chúng tôi cam kết cung cấp những đôi giày có độ dài vô song, phản ánh phong cách và cá tính riêng của bạn.
          <br />
          🌟 Sự Đa Dạng:
          Chúng tôi hiểu rằng mỗi người có một đôi chân độc đáo và đặc biệt. Vì vậy, tự hào sở hữu một bộ sưu tập rộng lớn với các kiểu dáng, màu sắc và chất liệu đa dạng. Cho dù bạn là người yêu thích phong cách thể thao, công sở, hay năng động, chúng tôi đều có những lựa chọn phù hợp với sở thích và nhu cầu của bạn.
          <br />
          🌈 Chất Lượng Và Độ Bền:
          Điều mà chúng tôi luôn đặt lên hàng đầu là chất lượng. Tất cả các sản phẩm tại được chọn lựa kỹ lưỡng từ những nhãn hiệu uy tín và cam kết đảm bảo độ thoải mái, bền bỉ và phản ánh xu hướng thời trang mới nhất.
          <br />
          🚚 Giao Hàng Toàn Quốc:
          Chúng tôi tự tin về dịch vụ giao hàng nhanh chóng và an toàn của mình. Bạn chỉ cần đặt hàng và chờ đợi, chúng tôi sẽ đảm bảo sản phẩm đến tay bạn một cách nhanh chóng và an toàn.
          <br />
          🤝 Cam Kết Hỗ Trợ Khách Hàng:
          Khách hàng là trung tâm của mọi hoạt động của chúng tôi. Đội ngũ hỗ trợ của luôn sẵn lòng giải đáp mọi thắc mắc và hỗ trợ bạn trong quá trình mua sắm.
          <br />
          Hãy bước chân vào để khám phá thế giới giày dài không giới hạn và tìm cho mình những đôi giày phản ánh đẳng cấp và phong cách độc đáo!
     </h2>
</div>


